extends layout

mixin rad_loading(_id)
  .wrapper(id=_id, data-anim="base wrapper")
    .circle(data-anim="base left")
    .circle(data-anim="base right")

block head
  link(rel='stylesheet', href='/css/index.css')

block content
  #header
    p Welcome to Pour

  #summary-container
    h3 Status
    p= 'Current Temp: ' + summary.avg_temp
    p= 'OZ dispensed: ' + summary.total_dispensed

  #drinker-container
    if drinkers
      h3 Drinkers
      ul
      each drinker, index in drinkers
        li=drinker
    else
      p No drinkers

  #actions-container
    h3 Actions
    div
      input(type='number', min="0", name="volume", placeholder='ticks')#pour-input
      button#pour Pour

    progress(max="100", value="0")#pour-progress
    pre#pour-output
    canvas#test-canvas
    canvas#loading-canvas

block scripts
  script(src='/js/index.js')
