doctype html
html
  head
    title Pour
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico')
    block head

  body
    block content

    block scripts
