extends layout

block head
  link(rel='stylesheet', href='/css/pour.css')

block content
  #box-container
    div.box.shaded
      h2 Pour
    div.box.shaded
      h2 Pour
    div.box.shaded
      h2 Pour
    div.box.shaded
      h2 Pour
