extends layout

block content
  .register-login-container
    h1 Register
    form(role='form', action="/register", method="post")
      div
        small username
        input(type='text', name="username", placeholder='username')
      div
        small password
        input(type='password', name="password", placeholder='password')
      button(type='submit') Submit
      a(href='/')
        button Cancel

      .error-box
        if err
          p=err
